.content{
    grid-area: c;
    background-image: url("https://cdn.dribbble.com/users/3671336/screenshots/15703273/media/6af7191330d650781869459974018ada.gif");
    width: 2fr;
    height: 700px;
    background-size: cover;
    color: aqua;
}
img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 40px;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
}