.messages{
    color: white;
    text-align: left;
    font-family: "Bradley Hand";
    font-size: large;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
/*.messages_from{*/
/*    color: white;*/
/*    text-align: right;*/
/*    font-family: "Bradley Hand";*/
/*    font-size: large;*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*    border-radius: 20px;*/
/*    padding-top: 10px;*/
/*    padding-left: 10px;*/
/*    padding-bottom: 5px;*/
/*}*/

