.header{
    grid-area: h;
    background-image: url("https://i.pinimg.com/originals/55/d2/5d/55d25d804be9260fd4212943b4b9c7ae.gif");
    background-position-x: 10px;
    background-position-y: 350px ;
    height: 150px;
}
.item{
    color: aqua;
    font-family: Copperplate;
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 1.8;
    -webkit-text-stroke-color: deeppink;
    -webkit-text-stroke-width: 2px;
}
