.header{
    grid-area: h;
    background-image: url("https://i.pinimg.com/originals/55/d2/5d/55d25d804be9260fd4212943b4b9c7ae.gif");
    background-position-x: 10px;
    background-position-y: 350px ;
    height: 150px;
}
.item{
    color: aqua;
    text-shadow:
            0 0 20px rgba(123, 245, 208, 0.56),
            0 0 10px rgba(13, 245, 245, 0.69),
            0 0 21px rgba(168, 13, 245, 0.73),
            0 0 20px rgba(152, 13, 245, 0.77);
    font-family: Copperplate;
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 1.8;
    -webkit-text-stroke-color: deeppink;
    -webkit-text-stroke-width: 2px;
}
