.nav{
    grid-area: n;
    background-image: url("https://www.teahub.io/photos/full/288-2886270_cyberpunk-pixel-art-gif.gif");
    width: 2fr;
    height: 715px;
    background-size: cover;
}
.item{
    color: #d2177c;
    text-shadow:
            0 0 20px #e807ca,
            0 0 10px #e807ca,
            0 0 21px #0df5f5,
            0 0 20px #0df5f5;
    font-family: Copperplate;
    text-align: center;
    font-size: xxx-large;
    letter-spacing: 2px;
    line-height: 1.8;
    -webkit-text-stroke-color: aqua;
    -webkit-text-stroke-width: 1px;
}

.item a:link {
    color: deeppink;
    text-shadow:
            0 0 20px #e807ca,
            0 0 10px #000000,
            0 0 21px #0df5f5,
            0 0 20px #0df5f5;
    font-family: Copperplate;
    text-decoration: none}

/* mouse over link */
.item a:hover {
    color: black;
    text-shadow:
            0 0 20px #000000,
            0 0 10px #000000,
            0 0 21px #f50d0d,
            0 0 20px #f50d0d;
    -webkit-text-stroke-color: red;
}

/* selected link */
.item a.active {
    color: blue;
    text-shadow:
            0 0 20px #072ce8,
            0 0 10px #0a2ce0,
            0 0 21px #f5ce0d,
            0 0 20px #f5d60d;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 1.5px;
}