.item{
    color: #7fc5ff;
    text-shadow:
            0 0 10px rgba(123, 245, 208, 0.56),
            0 0 10px rgba(98, 13, 245, 0.69),
            0 0 10px rgba(168, 13, 245, 0.73),
            0 0 10px rgba(152, 13, 245, 0.77);
    font-family: Impact;
    font-weight: 900;
    font-size: x-large;
    -webkit-text-stroke-color: darkmagenta;
    -webkit-text-stroke-width: 1px;
}
.item img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
}
.dislike img{
    width: 70px;
    height: 70px;
    border-radius: 0px;
}