.item{
    color: aquamarine;
    font-family: Impact;
    font-weight: 900;
    font-size: x-large;
    -webkit-text-stroke-color: darkmagenta;
    -webkit-text-stroke-width: 2px;
}
.item img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
}
.dislike img{
    width: 70px;
    height: 70px;
    border-radius: 0px;
}