.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url("https://i.pinimg.com/originals/e3/81/58/e3815811ff19967c15e14f5a5c2b5dfa.gif");
}