.app-wraper{
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 200px 1fr;
  grid-template-columns: 4fr 10fr;
  grid-gap: 5px;
}
.header{
  grid-area: h;
  background-image: url("https://i.pinimg.com/originals/55/d2/5d/55d25d804be9260fd4212943b4b9c7ae.gif");
  background-position-x: 1fr;
  background-position-y: 375px ;
  color: aqua;
  font-family: Copperplate;
  text-align: center;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 1.8;
  -webkit-text-stroke-color: deeppink;
  -webkit-text-stroke-width: 2px;
}

.header img{
  width: 1440px;
  height: 200px;
  object-fit: cover;
}
.nav{
  grid-area: n;
  background-image: url("https://www.teahub.io/photos/full/288-2886270_cyberpunk-pixel-art-gif.gif");
  width: 2fr;
  height: 700px;
  color: deeppink;
  background-size: cover;
  font-family: Copperplate;
  text-align: center;
  font-size: xxx-large;
  letter-spacing: 2px;
  line-height: 1.8;
  -webkit-text-stroke-color: aqua;
  -webkit-text-stroke-width: 1px;
}

.content{
  grid-area: c;
  background-image: url("https://cdn.dribbble.com/users/3671336/screenshots/15703273/media/6af7191330d650781869459974018ada.gif");
  width: 2fr;
  height: 700px;
  background-size: cover;
}
.content img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px aqua;
}