.appWraper {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
  "h h"
  "n c";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 4fr 10fr;
    grid-gap: 10px;
    background-color: black;
}

.appWraperContent{
    grid-area: c;
    width: 2fr;
    height: 715px;
    background-size: cover;
    color: aqua;
}

.errorContent{
    color: #0df5f5;
}

